* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../image/clouds.jpg"); background-position: center center; background-repeat: no-repeat;background-attachment: fixed; background-size: cover;
    background-color: black;
  }
  .logo-combo{
    display: flex;
    align-items: center;
  }
  .logo {
    display: block;
    margin-right: 1rem;
    width: 100px;
  }
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: #0e3b43;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: skyblue;
}
  ul.topnav li a.active {
    background-color: skyblue;
}
  ul.topnav li.right {
    float: right;
}
main{
  margin: 0;
  padding: 2rem;
}
/*this makes the image aligns with the center of the content box by default.*/
.wrapper {
  display: inline-block;
}
.airport {
  shape-outside: url(/image/airport.jpg) inset(10px 10px 10px );
  width: 50%;
  height: 50%;
  float: left;
  object-fit: cover;
  padding: .5rem;
}
p{
  font-size: 18pt;
  color: #000;
  font-weight: bold;
}

.vacation-container {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .vacation-container img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
    

  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {
      float: none;
    }

  /*/*  smaller img to improve page load speed on mobile internet connections **/
  body{
    background-image: url("../image/clouds-mobile.jpg");
  }

  p{
    font-size: 10pt;
  }
  .vacation-container {
    flex: 100%;
    max-width: 100%;
  }
}
